html {
      /* Prevent font scaling in landscape */

     -webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/

     -moz-text-size-adjust: none; /*Firefox*/

     -ms-text-size-adjust: none;  /*Ie*/

     -o-text-size-adjust: none; /*old versions of Opera*/

}

body {
    background-color: #fff8ef;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 100;
    src: url("styles/fonts/NotoSansKR-Light.woff2") format('woff2'),
    url("styles/fonts/NotoSansKR-Light.woff") format('woff'),
    url("styles/fonts/NotoSansKR-Light.otf") format('truetype')
}
  
@font-face {
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: normal;
    src: url("styles/fonts/NotoSansKR-Regular.woff2") format('woff2'),
    url("styles/fonts/NotoSansKR-Regular.woff") format('woff'),
    url("styles/fonts/NotoSansKR-Regular.otf") format('truetype')
}


@font-face {
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 500;
    src: url("styles/fonts/NotoSansKR-Medium.woff2") format('woff2'),
    url("styles/fonts/NotoSansKR-Medium.woff") format('woff'),
    url("styles/fonts/NotoSansKR-Medium.otf") format('truetype')
}

@font-face {
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: bold;
    src: url("styles/fonts/NotoSansKR-Bold.woff2") format('woff2'),
    url("styles/fonts/NotoSansKR-Bold.woff") format('woff'),
    url("styles/fonts/NotoSansKR-Bold.otf") format('truetype')
}

@font-face {
    font-family: 'BMDOHYEON';
    font-style: normal;
    font-weight: normal;
    src: url("styles/fonts/BMDOHYEON.woff2") format('woff2'),
    url("styles/fonts/BMDOHYEON.woff") format('woff'),
    url("styles/fonts/BMDOHYEON.otf") format('truetype')
}

@font-face {
    font-family: 'BMJUA';
    font-style: normal;
    font-weight: normal;
    src: url("styles/fonts/BMJUA.woff2") format('woff2'),
    url("styles/fonts/BMJUA.woff") format('woff'),
    url("styles/fonts/BMJUA.otf") format('truetype')
}



@font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 100;
    src: url("styles/fonts/NanumGothicLight.woff2") format('woff2'),
    url("styles/fonts/NanumGothicLight.woff") format('woff'),
    url("styles/fonts/NanumGothicLight.otf") format('truetype')
}
  
@font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: normal;
    src: url("styles/fonts/NanumGothic.woff2") format('woff2'),
    url("styles/fonts/NanumGothic.woff") format('woff'),
    url("styles/fonts/NanumGothic.otf") format('truetype')
}


@font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 500;
    src: url("styles/fonts/NanumGothicBold.woff2") format('woff2'),
    url("styles/fonts/NanumGothicBold.woff") format('woff'),
    url("styles/fonts/NanumGothicBold.otf") format('truetype')
}

@font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: bold;
    src: url("styles/fonts/NanumGothicExtraBold.woff2") format('woff2'),
    url("styles/fonts/NanumGothicExtraBold.woff") format('woff'),
    url("styles/fonts/NanumGothicExtraBold.otf") format('truetype')
}